<% layout('layouts/boilerplate') %>

<style>
.fixed-img {
  height: 200px;       /* Image ki fixed height */
  object-fit: cover;   /* Crop aur uniform look */
  width: 100%;         /* Full width */
}
.card {
  padding: 0 !important;
}


</style>

<h1 class="mt-3 font-size: 2.5rem text-warning-emphasis">Explore all the best coffees at Caffinity</h1>

<div class="cards d-flex flex-wrap gap-4 mt-4 ms-6 ">

 <% for (let coffee of coffees) { %>

  <div class="card h-100 container-fluid border border-secondary" style="width: 20rem; height: 25rem">
    <img src="<%= coffee.image %>" class="card-img-top fixed-img border-bottom" alt="<%= coffee.name %>">

    <div class="card-body d-flex flex-column">
      <h5 class="card-title"><%= coffee.name %></h5>

      <p class="card-text"><%= coffee.description %></p>

      <p class="fw-bold">₹ <%= coffee.price %> &nbsp;⭐ <%= coffee.avgRating %></p>

      <input class="btn btn-primary btn-sm mt-auto" type="button" value="Add">
    </div>
  </div>

<% } %>
</div>

 <h1 class="mt-3 font-size: 2.5rem text-warning-emphasis">Some drinks options at Caffinity</h1>

    <div class="cards d-flex flex-wrap gap-3 mt-4 ms-4 ">
<% for (let drink of drinks) { %>
  
  <div class="card h-100 container-fluid border border-secondary" style="width: 20rem; height: 25rem">
    <img src="<%= drink.image %>" class="card-img-top fixed-img border-bottom" alt="<%= drink.name %>">

    <div class="card-body d-flex flex-column">
      <h5 class="card-title"><%= drink.name %></h5>

      <p class="card-text"><%= drink.description %></p>

      <p class="fw-bold">₹ <%= drink.price %> &nbsp;⭐ <%= drink.avgRating %></p>

      <input class="btn btn-primary btn-sm mt-auto" type="button" value="Add">
    </div>
  </div>

<% } %> 


</div>
